<?xml version="1.0" encoding="utf-8"?>
<uexplugins>
    <plugin
        className="com.kekelian.EUExKekelian" uexName="uexKekelian" >
        <method name = "launchActivity"/>
        <method name = "opentScoreReportcActivity"/>
        <method name = "startActivity"/>
        <method name = "closeKekelian"/>
        <method name = "closeScoreReport"/>

    </plugin>
</uexplugins>